.header-container {
  margin-bottom: 40px;
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: $blue;
    .profil-card {
      position: absolute;
      display: flex;
      align-items: center;
      background-color: $lightpink;
      text-decoration: none;
      padding: 10px;
      border-radius: 1em;
      right: 40px;
      font-size: 1.1em;
      transition: 0.5s;
      &:hover {
        box-shadow: 0 0 5px 1px $pink;
        transform: scale(1.05);
      }
      img {
        aspect-ratio: 1;
        object-fit: cover;
        width: 50px;
        border-radius: 100%;
        margin-right: 10px;
      }
    }
  }
  @media screen and (max-width: 845px) {
    .logo-container {
      justify-content: space-around;
      align-items: center;
      .header-logo {
        width: 200px;
      }
      .profil-card {
        position: initial;
      }
    }

  }
}
